 /* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid gold;
  } */
  
body{
    background-color: rgb(253, 251, 244);
    font-family: helvetica;
}
nav{
    padding: 10px 0px;
}
.card-img-top{
    padding: 25px 10px 10px 10px;
    width: 600px;
}
ul {
    list-style-type: none;
}
.sumer-card{
    background-color: rgb(253, 250, 237);
}
.card-title{
    font-size: 1.5em;
}
.btn-recipe{
    padding: 5px 25px;
    margin: 0px 12px;
    font-size: 1.1em;
}
.btn-product{
    padding: 5px 25px;
    margin: 0px 12px;
    font-size: 1.1em;
}
.sumer-banner{
    width: 100%;
}
.sumer-mine-h1{
    text-align: center;
    font-size: 4.2em;
    padding: 15px 10px 10px 10px;
}
.sumer-p-btn-create{
    padding: 15px 160px 30px 160px;
    font-size: 1.1em;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
.sumer-show-h1{
    font-size: 4.2em;
    padding: 15px 10px 10px 10px;
}
.recipe-show-img{
    width: 1200px;
    height: 570px;
    padding-bottom: 10px;
}
.recipe-show-p{
    padding: 20px 25px 25px 25px;
    font-size: 1.1em;
}
.product-show-card{
    margin: 25px;
    background-color: rgb(253, 250, 237);
}
.product-show-img{
    height: 100%;
}
.product-show-h2{
    padding: 10px 25px 0px 25px;
    font-size: 3em;
}
.product-show-p{
    padding: 10px 25px 25px 25px;
    font-size: 1.1em;
}
.buy-btn{
    margin: 0px 25px;
}
.copy-rights{
    text-align: center;
}
#sumer-footer{
    padding-top: 200px;
}
/* ===== Form Styling ===== */
.form-container {
    width: 45vw;
    height: 59vw;
    margin: 35px auto;
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ddd,
                -1px -1px 10px #ddd,
                 1px -1px 10px #ddd,
                -1px 1px 10px #ddd;
    font-size: 1.1em;
}
.form{
    width: 100%;
    background: rgb(253, 250, 237);
    border-radius: 0 10px 10px 0;
    padding: 15px;
    box-sizing: border-box;
    overflow: auto;
}
.h1-form{
    font-size: 3em;
    border-bottom: 1.5px solid;
    padding-bottom: 10px;
}
fieldset{
    border: 1px solid;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
}
legend{
    padding: 0px 10px;
}
label{
    display: block;
}
.form-input{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 5px;
    background: rgb(253, 251, 244);
}
.form-input:focus{
    outline: 0;
    border: 1px solid;
}
.form-btn{
    margin-top: 35px;
}
/* ===== End Form Styling ===== */

/* ===== Home Page Styling ===== */
.home-show-card {
    margin: 30px;
    background-color: rgb(253, 250, 237);
}
.home-show-img{
    height: 100%;
}
.home-show-p{
    padding: 100px 30px 100px 30px;
    font-size: 1.1em;
}
.btn-home{
    padding: 15px 25px;
    margin-top: 20px;
}
/* ===== End Home Page Styling ===== */