/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid gold;
  } */
  
body{
    background-color: rgb(253, 251, 244);
}
nav{
    padding: 10px 0px;
}
.main-nav{
    color: black;
}
.card-img-top{
    padding: 25px 10px 10px 10px;
    width: 600px;
}
ul {
    list-style-type: none;
}
.recipe-card{
    background-color: rgb(253, 251, 244);
}
.card-title{
    font-size: 1.5em;
}
.btn-recipe{
    padding: 5px 25px;
    margin: 0px 12px;
    font-size: 1.1em;
}
.recipe-banner{
    width: 100%;
}
.recipe-mine-h1{
    font-size: 4em;
    padding: 10px;
}
.recipe-p-create{
    padding: 20px 25px 25px 25px;
    font-size: 1.1em;
}
.recipe-show-img{
    width: 1200px;
    height: 570px;
}
.recipe-show-p{
    padding: 20px 25px 25px 25px;
    font-size: 1.1em;
}