 /* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid gold;
  } */
  
body{
    background-color: rgb(253, 251, 244);
}
nav{
    padding: 10px 0px;
}
/* img{
    width: 400px;
} */
.card-img-top{
    padding: 25px 10px 10px 10px;
    width: 600px;
}
ul {
    list-style-type: none;
}
.sumer-card{
    background-color: rgb(253, 250, 237);
}
.card-title{
    font-size: 1.5em;
}
.btn-recipe{
    padding: 5px 25px;
    margin: 0px 12px;
    font-size: 1.1em;
}
.btn-product{
    padding: 5px 25px;
    margin: 0px 12px;
    font-size: 1.1em;
}
.sumer-banner{
    width: 100%;
}
.sumer-mine-h1{
    text-align: center;
    font-size: 4.2em;
    padding: 15px 10px 10px 10px;
}
.sumer-p-btn-create{
    padding: 15px 160px 30px 160px;
    font-size: 1.1em;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
.sumer-show-h1{
    font-size: 4.2em;
    padding: 15px 10px 10px 10px;
}
.recipe-show-img{
    width: 1200px;
    height: 570px;
    padding-bottom: 10px;
}
.recipe-show-p{
    padding: 20px 25px 25px 25px;
    font-size: 1.1em;
}
.product-show-card{
    margin: 25px;
    background-color: rgb(253, 250, 237);
}
.product-show-img{
    height: 100%;
}
.product-show-h2{
    padding: 10px 25px 0px 25px;
    font-size: 3em;
}
.product-show-p{
    padding: 10px 25px 25px 25px;
    font-size: 1.1em;
}
.buy-btn{
    margin: 0px 25px;
}
.copy-rights{
    text-align: center;
}
